.dashboard{
    width: 100%;
    height: 100vh;
    background-image: url('https://wallpaperaccess.com/full/10755748.jpg');
    background-size: cover;
    background-position: center;
}

.dashboard-header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fb3d16;
}

.dashboard-logo{
    height: 40px;
    width: 40px;
}

.dashboard-buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
    padding: 20px;
}

.dashboard-buttons button{
    padding: 10px 20px;
    background-color: #fb3d16;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.dashboard-buttons button:hover{
    background-color: #e63900;
}